<div class="container">
    <div class="center-block">
    <%= image_tag  url_for(:controller => 'images',:action=>'get_image', :id=> @show_file.id), class: "main_image"%>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>撮影場所 </td>
                <td>
    <%= @show_file.full_address%>
                </td>
            </tr>
    
    <% if @show_file.comment != nil%>
            <tr>
                <th>コメント</td>
                <td>
        <%= @show_file.comment %>    
                </td>
            </tr>
    <% end %>
        </tbody>
    </table>

    <p><%= link_to "削除" , @show_file , method: :delete, data: { confirm: "You sure?" } %></p>
    <p><%= link_to "編集" ,edit_image_path %></p>
</div>